$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;
$app-blue: #00affd;
$app-dark-blue: #008cff;
$app-blue-border: #0e98db;
$app-light-blue: #7ed3fe;
$app-yellow:#ffb422;
$app-dark-yellow:#d6961a;
$app-light-yellow: #ffda93;
$app-light-gray: #767d87;
$app-light-red: #fdc3c3;
$app-light-green: #aeef9d;

$app-light: #eee;
$app-dark: #333;
